@import "~bulma";
@import "~toastr/toastr";
@import "~font-awesome";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 350px;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    .arrow {
      display: flex;
    }
  }

  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .slide {
      display: inline-block;
      height: 100%;
      width: 100%;

    }
  }

  .arrow {
    height: 50px;
    width: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #eee;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);

    &.nextArrow {
      position: absolute;
      right: 0;
      z-index: 2;
    }

    &.backArrow {
      position: absolute;
      left: 0;
      z-index: 2;
    }
  }
}