@import "slider";
@import "~rc-rate/assets/index.css";

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.block-align-center {
  display: block;
  margin: auto;
}

.block-align-right {
  display: block;
  margin-left: auto;
}

.inline-flex {
  display: inline-flex;
}

.gow-container {
  .list-icons {
    ul {
      li {
        display: flex;
        align-items: center;
        padding: 5px;

        img {
          width: 32px;

          & + div {
            margin-left: 10px;
          }

        }

        .attribute-label {
          margin-left: 10px;
        }

        .rating {
          margin-left: 10px;
        }
      }
    }
  }
}
